:root {
  --app-bg: #f5f5f5;
  --block-bg: #fff;
  --border-color: #e0e3ff;
  --scrollbar-track-color: #f8f8f8;
  --scrollbar-thumb-color: #e0e3ff;
  --text-color: #a8b0d3;
  --link-color: #8997d6;
  --panel-gutter: 10px;
  --block-gutter: 20px;
  --span-bg: #e8eaff;
}

.app {
  background: var(--app-bg);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.editor {
  height: 100%;
  width: 100%;
}

.panel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}

.panel {
  margin: var(--panel-gutter);
}

.panel:focus {
  outline: 0;
}

.panel.main {
  width: 600px;
  flex-shrink: 0;
}

.panel.side {
  width: 180px;
  flex-shrink: 0;
}

.block {
  padding: 6px;
  background: var(--block-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  font-weight: 300;
}

.block a {
  color: var(--link-color);
}

.panel > .block:not(:last-child) {
  margin-bottom: var(--block-gutter);
}

/* Status */

.status.block {
  background: var(--app-bg);
  padding: 10px;
  font-size: 26px;
  font-weight: 200;
}

.annotation {
  display: flex;
  justify-content: space-between;
}

/* Toolbar */

.toolbar {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.toolbar-icon {
  height: 20px;
  width: 20px;
  padding: 6px;
  background: rgb(236, 236, 236);
}

.toolbar > .toolbar-icon:not(:last-child) {
  margin-right: 6px;
}

.toolbar-icon.active {
  background: rgb(222, 228, 255);
}

.toolbar-icon path,
.toolbar-icon g {
  fill: rgb(196, 196, 196);
}

.toolbar-icon.active path,
.toolbar-icon.active g {
  fill: rgb(176, 181, 204);
}

/* Document */

.document {
  position: relative;
  height: 300px;
  overflow-y: auto;
  padding: 20px 0;
}

.paragraph {
  margin: 0;
  padding: 0 50px;
  text-align: justify;
}

.paragraph > span {
  background: var(--span-bg);
  color: #2b2f3d;
  font-size: 16px;
  font-family: 'Lora', serif;
  line-height: 34px;
  white-space: pre-wrap; /* Breaks justify in Firefox */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.paragraph:after {
  content: '';
  display: inline-block;
  width: 0;
}

/* Caret */

.caret {
  width: 1px;
  height: 20px;
  position: absolute;
  background-color: rgb(133, 89, 255);
}

/* Scrollbar for Firefox */

.document {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Scrollbar for Chrome, Edge, Safari, Opera */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color);
}
