.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  width: 600px;
  height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  cursor: text;
  overflow-y: scroll;
}

.editor {
  scrollbar-width: auto !important;
  scrollbar-color: #dfdfdf #f1f1f1 !important;
}

.paragraph {
  margin: 0;
  margin: 18px 0;
  padding: 0 100px;
  font-size: 16px;
  font-family: 'Lora', serif;
  color: rgb(46, 46, 46);
  line-height: 28px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: rgb(255, 252, 244);
}

.paragraph:focus {
  outline: none;
}

.cursor {
  width: 2px;
  height: 28px;
  position: relative;
  font-size: 20px;
  background-color: rgb(139, 230, 210);
}
