.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Editor */

.editor {
  width: 700px;
}

.editor {
  scrollbar-width: auto !important;
  scrollbar-color: #dfdfdf #f1f1f1 !important;
}

.editor:focus {
  outline: none;
}

/* Status */

.status {
  color: rgb(168, 176, 211);
  margin-right: 10px;
}

/* Toolbar */

.toolbar {
  border: 1px solid rgb(210, 214, 248);
  /*margin-top: 30px;*/
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar-icon {
  height: 20px;
  width: 20px;
  padding: 8px;
  margin: 6px;
  background: rgb(236, 236, 236);
}

.toolbar-icon.active {
  background: rgb(222, 228, 255);
}

/*.toolbar-icon.active:hover {
  background: rgb(212, 220, 255);
}*/

.toolbar-icon:not(:first-child) {
  margin-left: 0;
}

/*.toolbar-icon:hover {
  background: rgb(228, 228, 228);
}*/

.toolbar-icon path,
.toolbar-icon g {
  fill: rgb(196, 196, 196);
}

/*.toolbar-icon:hover path,
.toolbar-icon:hover g {
  fill: rgb(160, 160, 160);
}*/

.toolbar-icon.active path,
.toolbar-icon.active g {
  fill: rgb(176, 181, 204);
}

/*.toolbar-icon.active:hover path,
.toolbar-icon.active:hover g {
  fill: rgb(143, 148, 172);
}*/

/* Document */

.document {
  position: relative;
  height: 300px;
  /*cursor: text;*/
  overflow-y: auto;
  /*border: 1px solid rgb(210, 214, 248);*/
  scrollbar-width: auto !important;
  scrollbar-color: #dfdfdf #f1f1f1 !important;
  /*margin-bottom: 30px;*/
}

.caret {
  width: 1px;
  height: 20px;
  position: absolute;
  /*font-size: 28px;*/
  background-color: rgb(133, 89, 255);
}

.mouse {
  width: 20px;
  height: 20px;
  position: absolute;
  font-size: 20px;
  background-color: rgba(255, 142, 185, 0.411);
  z-index: 9999;
}

.paragraph {
  margin: 0;
  padding: 0 100px;
  /*font-size: 0;*/
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;*/
}

.paragraph span {
  /*margin: 0;
  padding: 0;*/
  font-size: 16px;
  font-family: 'Lora', serif;
  color: rgb(46, 46, 46);
  line-height: 34px;
  /*overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;**/
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  /*hyphens: auto;*/
  background-color: rgb(211, 226, 255);
}

/*.paragraph span:empty:before {
  content: '';
  white-space: pre;
}*/

.paragraph:after {
  content: '';
  display: inline-block;
  width: 0;
}

/*.paragraph:after span {
  line-height: 28px;
}*/
